.feedbackBubble {
    opacity: 0;
    translate: 0 -10px;
    transition: opacity 0.3s, translate 0.3s;
    animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        translate: 0 -10px;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}
